<header>
  <div class="headerCont">
    <a routerLink="dashboard" class="logo">
      <img src="Logo.svg" alt="brand logo" />
    </a>
    <nav>
      <a routerLink="courses" class="courses">
        <div class="imgCont">
          <app-icon-library name="courseIcon" [size]="26"></app-icon-library>
        </div>
        <p>Browse Courses</p></a
      >
      <div class="auth">
        <button class="logInBtn">Log In</button>
        <button class="signBtn" (click)="toggleModal()">Sign Up</button>
      </div>
    </nav>
  </div>
</header>
@if (isModalRendered()) {
  <app-sign-up (closeModal)="toggleModal()"></app-sign-up>
}
