<header>
  <div class="headerCont">
    <a routerLink="dashboard" class="logo">
      <img src="Logo.svg" alt="brand logo" />
    </a>
    <nav>
      <div class="courseCont">
        <a routerLink="courses" class="courses">
          <div class="imgCont">
            <app-icon-library name="courseIcon" [size]="26"></app-icon-library>
          </div>
          <p>Browse Courses</p></a
        >
        @if (authService.isAuthenticated()) {
          <a routerLink="courses" class="courses">
            <div class="imgCont">
              <app-icon-library name="browseIcon" [size]="26"></app-icon-library>
            </div>
            <p>Enrolled Courses</p></a
          >
        }
      </div>

      <div class="auth">
        @if (!authService.isAuthenticated()) {
          <button class="logInBtn" (click)="toggleLogInModal()">Log In</button>
          <button class="signBtn" (click)="toggleModal()">Sign Up</button>
        } @else if (authService.user()?.avatar) {
          <img [src]="authService.user()?.avatar" alt="user avatar" class="avatarIcon" />
        } @else {
          <app-icon-library
            tabindex="0"
            name="avatarIcon"
            class="avatarIcon"
            [size]="56"
          ></app-icon-library>
        }
      </div>
    </nav>
  </div>
</header>
@if (isModalRendered()) {
  <app-sign-up (closeModal)="toggleModal()"></app-sign-up>
}
@if (isLogInModalRendered()) {
  <app-log-in (closeModal)="toggleLogInModal()" (closeModalSignUp)="toggleModal()"></app-log-in>
}
