<div class="enrollSection">
  <form [formGroup]="enrollmentForm">
    <div class="customSelect" [class.open]="isScheduleOpen()">
      <div class="selectHeading" [class.relevant]="isScheduleOpen()">
        @if (isWeeksLoading()) {
          <app-loader [size]="28" [innerColor]="'var(--brand-800)'"></app-loader>
        } @else {
          <app-icon-library name="first" [size]="28"></app-icon-library>
        }
        <button type="button" (click)="toggleSchedule()">
          <h3>Weekly Schedule</h3>
          <app-icon-library class="icon" name="dropdownBig" [size]="28"></app-icon-library>
        </button>
      </div>

      @if (isScheduleOpen()) {
        <div
          class="dropdown-content"
          animate.enter="open-animation"
          animate.leave="close-animation"
        >
          @for (schedule of allSchedules; track schedule.id) {
            <button
              type="button"
              class="option-button"
              [class.selected]="selectedScheduleId() === schedule.id"
              [disabled]="!isScheduleAvailable(schedule.id)"
              (click)="selectSchedule(schedule.id)"
            >
              <h5>{{ schedule.label }}</h5>
            </button>
          }
        </div>
      }
    </div>
    <div class="customSelect timeSlotCont" [class.open]="isTimeOpen()">
      <div class="selectHeading" [class.relevant]="isTimeOpen()">
        @if (isTimeSlotLoading()) {
          <app-loader [size]="28" [innerColor]="'var(--brand-800)'"></app-loader>
        } @else {
          <app-icon-library name="second" [size]="28"></app-icon-library>
        }
        <button type="button" (click)="toggleTimeSlot()">
          <h3>Time Slot</h3>
          <app-icon-library class="icon" name="dropdownBig" [size]="28"></app-icon-library>
        </button>
      </div>

      @if (isTimeOpen()) {
        <div
          class="dropdown-content"
          animate.enter="open-animation"
          animate.leave="close-animation"
        >
          @for (timeSlot of timeSlots; track timeSlot.id) {
            <button
              type="button"
              class="option-button"
              [class.selected]="selectedTimeSlotId() === timeSlot.id"
              [disabled]="!isTimeSlotAvaliable(timeSlot.id)"
              (click)="selectTimeSlot(timeSlot.id)"
            >
              <app-icon-library
                class="timeSlotIcon"
                [name]="timeSlot.icon"
                [size]="26"
              ></app-icon-library>
              <div class="timeTextCont">
                <p class="timeSlotLabel">{{ timeSlot.label }}</p>
                <p class="timeSlotDesc">
                  {{ getTimeSlotTime(timeSlot.id) }}
                </p>
              </div>
            </button>
          }
        </div>
      }
    </div>
    <div class="customSelect sessionTypeCont" [class.open]="isSessionOpen()">
      <div class="selectHeading" [class.relevant]="isSessionOpen()">
        @if (isSessionTypeLoading()) {
          <app-loader [size]="28" [innerColor]="'var(--brand-800)'"></app-loader>
        } @else {
          <app-icon-library name="third" [size]="28"></app-icon-library>
        }
        <button type="button" (click)="toggleSessionType()">
          <h3>Session Type</h3>
          <app-icon-library class="icon" name="dropdownBig" [size]="28"></app-icon-library>
        </button>
      </div>

      @if (isSessionOpen()) {
        <div
          class="dropdown-content"
          animate.enter="open-animation"
          animate.leave="close-animation"
        >
          @for (sessionType of allSessionTypes; track sessionType.id) {
            <div class="optionCont">
              <button
                type="button"
                class="option-button"
                [class.selected]="selectedSessionTypeId() === sessionType.id"
                [disabled]="!isSessionTypeAvaliable(sessionType.id)"
                (click)="selectSessionType(sessionType.id)"
              >
                <app-icon-library [name]="sessionType.icon" [size]="26"></app-icon-library>
                <h5>
                  {{ sessionType.label }}
                </h5>
                <div class="locationDesc">
                  <app-icon-library name="location" [size]="12"></app-icon-library>
                  <p [title]="getSessionTypeData(sessionType.id)?.location ?? sessionType.address">
                    {{ getSessionTypeData(sessionType.id)?.location ?? sessionType.address }}
                  </p>
                </div>
                <p class="priceDesc">
                  {{
                    getSessionTypeData(sessionType.id)
                      ? formatPriceModifier(getSessionTypeData(sessionType.id)!.priceModifier)
                      : sessionType.price
                  }}
                </p>
              </button>
              <div class="seatsCont">
                @let seats = getSessionTypeData(sessionType.id)?.availableSeats;
                @if (seats != null && seats < 5) {
                  <app-icon-library name="warning" [size]="16"></app-icon-library>
                }
                <p
                  class="seatDesc"
                  [class.lowSeats]="seats != null && seats < 5"
                  [class.noSeats]="seats == null"
                >
                  {{
                    seats == null
                      ? 'No Seats Available'
                      : seats < 5
                        ? 'Only ' + seats + ' Seats Remaining'
                        : seats + ' Seats Available'
                  }}
                </p>
              </div>
            </div>
          }
        </div>
      }
    </div>
  </form>
  @if (!authService.isAuthenticated()) {
    not authed
  } @else if (!authService.user()?.profileComplete) {
    profile not complete
  }
</div>
