<div class="enrollSection">
  <form [formGroup]="enrollmentForm">
    <div class="customSelect" [class.open]="isScheduleOpen()">
      <div class="selectHeading" [class.relevant]="isScheduleOpen()">
        @if (isWeeksLoading()) {
          <app-loader [size]="28" [innerColor]="'var(--brand-800)'"></app-loader>
        } @else {
          <app-icon-library name="first" [size]="28"></app-icon-library>
        }
        <button type="button" (click)="toggleSchedule()">
          <h3>Weekly Schedule</h3>
          <app-icon-library class="icon" name="dropdownBig" [size]="28"></app-icon-library>
        </button>
      </div>

      @if (isScheduleOpen()) {
        <div
          class="dropdown-content"
          animate.enter="open-animation"
          animate.leave="close-animation"
        >
          @for (schedule of allSchedules; track schedule.id) {
            <button
              type="button"
              class="option-button"
              [class.selected]="selectedScheduleId() === schedule.id"
              [disabled]="!isScheduleAvailable(schedule.id)"
              (click)="selectSchedule(schedule.id)"
            >
              <h5>{{ schedule.label }}</h5>
            </button>
          }
        </div>
      }
    </div>
    <div class="customSelect timeSlotCont" [class.open]="isTimeOpen()">
      <div class="selectHeading" [class.relevant]="isTimeOpen()">
        @if (isTimeSlotLoading()) {
          <app-loader [size]="28" [innerColor]="'var(--brand-800)'"></app-loader>
        } @else {
          <app-icon-library name="second" [size]="28"></app-icon-library>
        }
        <button type="button" (click)="toggleTimeSlot()">
          <h3>Time Slot</h3>
          <app-icon-library class="icon" name="dropdownBig" [size]="28"></app-icon-library>
        </button>
      </div>

      @if (isTimeOpen()) {
        <div
          class="dropdown-content"
          animate.enter="open-animation"
          animate.leave="close-animation"
        >
          @for (timeSlot of timeSlots; track timeSlot.id) {
            <button
              type="button"
              class="option-button"
              [class.selected]="selectedTimeSlotId() === timeSlot.id"
              [disabled]="!isTimeSlotAvaliable(timeSlot.id)"
              (click)="selectTimeSlot(timeSlot.id)"
            >
              <app-icon-library
                class="timeSlotIcon"
                [name]="timeSlot.icon"
                [size]="26"
              ></app-icon-library>
              <div class="timeTextCont">
                <p class="timeSlotLabel">{{ timeSlot.label }}</p>
                <p class="timeSlotDesc">{{ timeSlot.time }}</p>
              </div>
            </button>
          }
        </div>
      }
    </div>
  </form>
  @if (!authService.isAuthenticated()) {
    not authed
  } @else if (!authService.user()?.profileComplete) {
    profile not complete
  }
</div>
