.enrollSection {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 53rem;
}
form {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.customSelect {
  position: relative;
  user-select: none;
}
.selectHeading {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: var(--grey-400);
}
h3 {
  width: 100%;
  text-align: start;
}
.selectHeading button {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  justify-content: space-between;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  transition: 0.4s;
  width: 100%;
}
.selectHeading button:hover,
.selectHeading button:focus-visible {
  color: var(--brand-500);
}
.selectHeading button:active {
  color: var(--brand-600);
}
.dropdown-content {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  color: var(--grey-800);
  margin-top: 1.8rem;
}
.timeSlotCont .dropdown-content {
  gap: 0.6rem;
}
.sessionTypeCont .dropdown-content {
  gap: 0.8rem;
}
.timeSlotCont .option-button {
  padding: 1.5rem;
  height: unset;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--grey-500);
}
.sessionTypeCont .option-button {
  padding: 1.5rem 2rem;
  height: 13.1rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  justify-content: center;
  align-items: center;
}

.option-button .timeSlotIcon {
  color: var(--grey-600);
}
.timeSlotCont .option-button .timeTextCont {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  align-items: start;
}
.timeSlotLabel {
  font-size: var(--xs-fs);
}
.timeSlotDesc {
  font-size: var(--helper-rxs-fs);
  font-weight: var(--helper-rxs-fw);
}
.option-button {
  background-color: var(--grey-50);
  border: 1px solid var(--grey-200);
  padding: 1rem;
  border-radius: 1.2rem;
  height: 9.1rem;
  width: 100%;
  transition: 0.4s;
  cursor: pointer;
  min-width: 0;
}
.customSelect:has(.open-animation) .icon {
  color: var(--brand-500);
}
.customSelect:has(.close-animation) .icon {
  color: var(--brand-500);
}
.option-button:hover,
.timeSlotCont .option-button:hover,
.option-button:focus-visible,
.timeSlotCont .option-button:focus-visible {
  color: var(--grey-50);
  background-color: var(--brand-500);
  border-color: var(--brand-500);
}
.option-button:active,
.timeSlotCont .option-button:active {
  color: var(--grey-50);
  background-color: var(--brand-600);
  border-color: var(--brand-600);
}
.option-button.selected,
.timeSlotCont .option-button.selected {
  background-color: var(--brand-100);
  color: var(--brand-500);
  border-color: var(--brand-300);
}
.option-button:hover .timeSlotIcon,
.option-button:focus-visible .timeSlotIcon {
  color: var(--grey-50);
}
.option-button:active .timeSlotIcon {
  color: var(--grey-50);
}
.option-button.selected .timeSlotIcon {
  color: var(--brand-500);
}
.option-button:disabled {
  background-color: var(--grey-100) !important;
  color: var(--grey-200) !important;
  border-color: var(--grey-200) !important;
}
.option-button:disabled .timeSlotIcon {
  color: var(--grey-200) !important;
}
.relevant {
  color: var(--brand-800);
}
.locationDesc {
  font-size: var(--helper-rs-fs);
  font-weight: var(--helper-rxs-fw);
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.locationDesc p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.priceDesc {
  font-size: var(--xs-fs);
  margin-top: 0.6rem;
}
.optionCont {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
  color: var(--grey-700);
  font-size: var(--helper-m-fs);
  width: 100%;
  min-width: 0;
}
.lowSeats {
  color: var(--warning);
}
.noSeats {
  color: var(--grey-600);
}
.seatsCont {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.totalCont {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  background-color: var(--grey-50);
  border-radius: 1.2rem;
  border: 1px solid var(--grey-100);
  padding: 4rem;
}
.priceCont {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  justify-content: space-between;
  color: var(--grey-400);
  font-size: var(--s-fs);
}

.priceCont h2 {
  color: var(--grey-800);
}
.priceCont .price {
  color: var(--grey-800);
}
.seperatedPriceCont {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.submitBtn {
  width: 100%;
  border-radius: 1.2rem;
  padding: 1rem;
  height: 6.3rem;
  border: 2px solid transparent;
  outline: none;
  cursor: pointer;
  transition: 0.4s;
  color: var(--grey-50);
  background-color: var(--brand-500);
}

.submitBtn:hover {
  background-color: var(--brand-600);
  border-color: var(--brand-600);
}
.submitBtn:active {
  background-color: var(--brand-700);
  border-color: var(--brand-700);
}
.submitBtn:focus-visible {
  border-color: var(--brand-700);
  background-color: var(--brand-600);
}
.submitBtn:disabled {
  background-color: var(--brand-50);
  color: var(--brand-200);
}
