<div class="singUpCont authModal">
  <img
    tabindex="0"
    src="close.svg"
    (click)="onClose('close')"
    alt="close button"
    class="closeBtn"
  />
  @if (steps() !== 1) {
    <img
      tabindex="0"
      src="backArrow.svg"
      (click)="decreaseStep()"
      alt="previous button"
      class="prevBtn"
    />
  }

  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <div class="heading">
      <h2>Create Account</h2>
      <p>Join and start learning today</p>
    </div>
    <div class="stepsCont">
      @for (step of [1, 2, 3]; track step) {
        <div [class.active]="steps() === step" [class.done]="steps() > step"></div>
      }
    </div>
    @if (steps() === 1) {
      <div class="inputCont">
        <label for="mail">Email*</label>
        <input
          name="mail"
          id="mail"
          type="email"
          placeholder="Type your email"
          formControlName="email"
          (input)="clearServerError('email')"
        />

        @if (serverErrors()['email']?.length) {
          <p class="error" animate.enter="showError" animate.leave="hideError">
            {{ serverErrors()['email'][0] }}
          </p>
        } @else if (signUpForm.get('email')?.invalid && signUpForm.get('email')?.touched) {
          <p class="error" animate.enter="showError" animate.leave="hideError">
            Please enter a valid email address
          </p>
        }
      </div>
    }
    @if (steps() === 2) {
      <div class="inputCont margin-bot">
        <label for="password">Password*</label>
        <div class="passwordWrapper">
          <input
            name="password"
            id="password"
            [type]="passwordVisible() ? 'text' : 'password'"
            placeholder="Enter password"
            formControlName="password"
          />
          <button type="button" (click)="togglePassword()" class="toggleBtn" tabindex="-1">
            <app-icon-library
              [name]="passwordVisible() ? 'eye-open' : 'eye-close'"
              [size]="22"
            ></app-icon-library>
          </button>
        </div>
        @if (signUpForm.get('password')?.invalid && signUpForm.get('password')?.touched) {
          <p class="error" animate.enter="showError" animate.leave="hideError">
            Min 3 characters required
          </p>
        }
      </div>
      <div class="inputCont">
        <label for="confirmPassword">Confirm Password*</label>
        <div class="passwordWrapper">
          <input
            name="confirmPassword"
            id="confirmPassword"
            [type]="confrimPasswordVisible() ? 'text' : 'password'"
            placeholder="Confirm password"
            formControlName="confirmPassword"
          />
          <button type="button" (click)="toggleConfirmPassword()" class="toggleBtn" tabindex="-1">
            <app-icon-library
              [name]="confrimPasswordVisible() ? 'eye-open' : 'eye-close'"
              [size]="22"
            ></app-icon-library>
          </button>
        </div>
        @if (
          signUpForm.get('confirmPassword')?.value !== signUpForm.get('password')?.value &&
          signUpForm.get('confirmPassword')?.touched
        ) {
          <p class="error" animate.enter="showError" animate.leave="hideError">
            Password do not match
          </p>
        }
      </div>
    }
    @if (steps() === 3) {
      <div class="inputCont margin-bot">
        <label for="password">Username*</label>
        <input
          name="password"
          id="password"
          [type]="passwordVisible() ? 'text' : 'password'"
          placeholder="Enter username"
          formControlName="username"
          (input)="clearServerError('username')"
        />
        @if (serverErrors()['username']?.length) {
          <p class="error" animate.enter="showError" animate.leave="hideError">
            {{ serverErrors()['username'][0] }}
          </p>
        } @else if (signUpForm.get('username')?.invalid && signUpForm.get('username')?.touched) {
          <p class="error" animate.enter="showError" animate.leave="hideError">
            Min 3 characters required
          </p>
        }
      </div>
      <div class="inputCont">
        <app-upload-input
          [initialFile]="selectedFile()"
          (fileSelected)="onFileSelected($event)"
          (fileError)="onFileError($event)"
        ></app-upload-input>
        @if (signUpForm.get('avatar')?.hasError('incorrectFormat')) {
          <p class="error">Unsupported file format. Please use JPG, PNG or WebP</p>
        }
        @if (signUpForm.get('avatar')?.hasError('tooLarge')) {
          <p class="error">Maximum File size is 1MB</p>
        }
      </div>
    }
    @if (generalError()) {
      <p class="error generalError" animate.enter="showError" animate.leave="hideError">
        {{ generalError() }}
      </p>
    }

    <button type="submit" [disabled]="getIsBtnDisabled()" class="submitBtn">
      @if (isLoading()) {
        <app-loader></app-loader>
      } @else if (steps() === 3) {
        Sign Up
      } @else {
        Next
      }
    </button>
    <footer>
      <div class="divider">or</div>
      <div class="logInCont">
        <p>Already have an account?</p>
        <span tabindex="0" (click)="onClose('logIn')">Log In</span>
      </div>
    </footer>
  </form>
</div>
