.dashboard {
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
}
.hero {
  height: 42rem;
  width: 100%;
  display: flex;
  overflow: hidden;
  color: var(--grey-50);
  position: relative;
  border-radius: 3rem;
}
.heroTrack {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-out;
}
.heroCard {
  min-width: 100%;
  height: 100%;
  padding: 4.8rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.heroCard.One {
  background-image: url(/heroOne.png);
}
.heroCard.Two {
  background-image: url(/heroTwo.png);
}
.heroCard.Three {
  background-image: url(/heroThree.png);
}
.trackCont {
  position: absolute;
  bottom: 5.5rem;
  height: 5.4rem;
  right: 4.8rem;
  left: 4.8rem;
  display: flex;
  align-items: center;
}
.trackCont .pillCont {
  width: 100%;
  height: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}
.trackCont .pillCont .pill {
  height: 100%;
  width: 5.7rem;
  border-radius: 999px;
  background-color: var(--grey-300);
}
.trackCont .pillCont .pill.active {
  background-color: var(--grey-100);
}
.trackCont .pillCont .pill:hover {
  cursor: pointer;
}
.trackCont .arrowCont {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
.trackCont .arrowCont button {
  width: 5.4rem;
  height: 5.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.4s;
  border: none;
  outline: none;
  background: transparent;
  color: var(--grey-50);
  opacity: 0.7;
}
.trackCont .arrowCont button:not(:disabled):hover,
.trackCont .arrowCont button:not(:disabled):focus-visible {
  opacity: 1;
}
.trackCont .arrowCont button:disabled {
  cursor: auto;
  color: var(--grey-disabled);
}
.heroCard .textCont {
  height: 23.2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  color: var(--grey-50);
  justify-content: space-between;
}
.heroCard .headingCont {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.heroHeading {
  font-size: var(--hero-fs);
  font-weight: var(--hero-fw);
}
.heroDesc {
  font-weight: var(--xl-light-fw);
  font-size: var(--xl-fs);
  padding-right: 17.15%;
}
.heroCard .primaryBtn {
  width: fit-content;
  height: 6.4rem;
}
.Three .textCont {
  height: 20.3rem;
}

.featuredCourses {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.featuredCourses .heading h1 {
  color: var(--grey-950);
}
.featuredCourses .heading p {
  color: var(--grey-700);
  font-size: var(--m-fs);
  font-weight: var(--helper-r-fw);
}
.featuredCourses .heading {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.featuredCardsCont {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
.featuredCard {
  width: 100%;
  border-radius: 1.2rem;
  border: 1px solid var(--grey-100);
  background-color: var(--grey-50);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.featuredCard .contentCont {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.featuredCard .contentCont img {
  border-radius: 10px;
  width: 100%;
  height: 26.2rem;
}
.featuredCard .titleCont {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.featuredCard .titleCont .titleDescCont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.featuredCard .titleCont .titleDescCont p {
  font-size: var(--xs-fs);
  color: var(--grey-500);
}

.featuredCard .titleCont .titleDescCont p span {
  color: var(--grey-400);
}
.featuredCard .ratingCont {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.featuredCard .titleCont .titleDescCont .ratingCont p {
  color: var(--grey-600);
}
.featuredCard h3,
h2 {
  color: var(--grey-900);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.featuredCourseDescP {
  font-size: var(--s-fs);
  color: var(--grey-500);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  margin-right: 5.2rem;
  overflow: hidden;
  line-height: 2.4rem;
}
.featuredCard .footerCont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.featuredCard .priceCont {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.featuredCard .priceCont p {
  color: var(--grey-400);
  font-size: var(--helper-m-fs);
}
.featuredCard .primaryBtn {
  height: 5.8rem;
}
