<div class="singUpCont">
  <img tabindex="0" src="close.svg" (click)="onClose()" alt="close button" class="closeBtn" />
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <div class="heading">
      <h2>Create Account</h2>
      <p>Join and start learning today</p>
    </div>
    <div class="stepsCont">
      @for (step of [1, 2, 3]; track step) {
        <div [class.active]="steps() === step" [class.done]="steps() > step"></div>
      }
    </div>
    @if (steps() === 1) {
      <div class="inputCont">
        <label for="mail">Email*</label>
        <input
          name="mail"
          id="mail"
          type="email"
          placeholder="Type your email"
          formControlName="email"
        />
        @if (signUpForm.get('email')?.invalid && signUpForm.get('email')?.touched) {
          <p class="error" animate.enter="showError" animate.leave="hideError">
            Please enter a valid email address
          </p>
        }
      </div>
    }
    @if (steps() === 2) {
      <div class="inputCont">
        <label for="password">Password*</label>
        <div class="passwordWrapper">
          <input
            name="password"
            id="password"
            [type]="passwordVisible() ? 'text' : 'password'"
            placeholder="Enter password"
            formControlName="password"
          />
          <button type="button" (click)="togglePassword()" class="toggleBtn" tabindex="-1">
            <app-icon-library
              [name]="passwordVisible() ? 'eye-open' : 'eye-close'"
              [size]="22"
            ></app-icon-library>
          </button>
        </div>
        @if (signUpForm.get('password')?.invalid && signUpForm.get('password')?.touched) {
          <p class="error" animate.enter="showError" animate.leave="hideError">
            Min 3 characters required
          </p>
        }
      </div>
      <div class="inputCont">
        <label for="confirmPassword">Confirm Password*</label>
        <div class="passwordWrapper">
          <input
            name="confirmPassword"
            id="confirmPassword"
            [type]="confrimPasswordVisible() ? 'text' : 'password'"
            placeholder="Confirm password"
            formControlName="confirmPassword"
          />
          <button type="button" (click)="toggleConfirmPassword()" class="toggleBtn" tabindex="-1">
            <app-icon-library
              [name]="confrimPasswordVisible() ? 'eye-open' : 'eye-close'"
              [size]="22"
            ></app-icon-library>
          </button>
        </div>
        @if (
          signUpForm.get('confirmPassword')?.value !== signUpForm.get('password')?.value &&
          signUpForm.get('confirmPassword')?.touched
        ) {
          <p class="error" animate.enter="showError" animate.leave="hideError">
            Password do not match
          </p>
        }
      </div>
    }
    <button type="submit" [disabled]="getIsBtnDisabled()" class="submitBtn">
      {{ steps() === 3 ? 'Sign Up' : 'Next' }}
    </button>
    <footer>
      <div class="divider">or</div>
      <div class="logInCont">
        <p>Already have an account?</p>
        <span tabindex="0">Log In</span>
      </div>
    </footer>
  </form>
</div>
