<div class="singUpCont">
  <img tabindex="0" src="close.svg" (click)="onClose()" alt="close button" class="closeBtn" />
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <div class="heading">
      <h2>Create Account</h2>
      <p>Join and start learning today</p>
    </div>
    <div class="stepsCont">
      @for (step of [1, 2, 3]; track step) {
        <div [class.active]="steps() === step" [class.done]="steps() > step"></div>
      }
    </div>
    @if (steps() === 1) {
      <div class="inputCont">
        <label for="mail">Email*</label>
        <input
          name="mail"
          id="mail"
          type="email"
          placeholder="Type your email"
          formControlName="email"
        />
        @if (signUpForm.get('email')?.invalid && signUpForm.get('email')?.touched) {
          <p class="error" animate.enter="showError" animate.leave="hideError">
            Please enter a valid email address
          </p>
        }
      </div>
    }
    <button type="submit" [disabled]="signUpForm.get('email')?.invalid" class="submitBtn">
      {{ steps() === 3 ? 'Sign Up' : 'Next' }}
    </button>
    <footer>
      <div class="divider">or</div>
      <div class="logInCont">
        <p>Already have an account?</p>
        <span tabindex="0">Log In</span>
      </div>
    </footer>
  </form>
</div>
