.customSelect {
  position: relative;
  cursor: pointer;
  user-select: none;
}

.customSelectHeading {
  height: 4.9rem;
  border-radius: 1rem;
  border: 1px solid var(--grey-100);
  padding: 0.7rem 2rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  justify-content: space-between;
  background-color: var(--grey-50);
  transition: 0.4s;
  color: var(--grey-500);
  font-size: var(--s-fs);
}
.labelCont {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.labelCont .defaultOption {
  color: var(--brand-500);
}
.customSelectHeading:hover .icon {
  color: var(--brand-500);
}
.customSelectHeading:hover,
.customSelectHeading:focus {
  outline: none;
  border-color: var(--brand-500);
}
.customSelectHeading:focus .icon {
  color: var(--brand-500);
}
.customSelectBody {
  position: absolute;
  background: var(--grey-50);
  border: 1px solid var(--grey-100);
  border-radius: 1rem;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  top: calc(100% + 3.5px);
  /* max-height: 150px; */
  overflow-y: hidden;
}

.customSelectBody li {
  height: 4.5rem;
  padding: 1rem 2rem;
  font-size: var(--s-fs);
  color: var(--grey-500);
  transition: 0.4s;
  display: flex;
  align-items: center;
}

.customSelectBody li:hover {
  background-color: var(--brand-500);
  color: var(--grey-50);
}
.customSelectBody li.selected {
  background-color: var(--brand-100);
  color: var(--brand-500);
}

.customSelect:has(.open-animation) .icon {
  animation: arrow-rotate-up-animation 0.6s;
}
.customSelect:has(.close-animation) .icon {
  animation: arrow-rotate-down-animation 1s;
}
.customSelect.open .icon {
  transform: rotate(180deg);
}
.open-animation {
  animation: open-animation 0.6s;
}
.close-animation {
  animation: close-animation 1s;
}
@keyframes arrow-rotate-up-animation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(180deg);
  }
}
@keyframes arrow-rotate-down-animation {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0);
  }
}
@keyframes open-animation {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    transform: scale(1);
    max-height: fit-content;
  }
}

@keyframes close-animation {
  from {
    max-height: fit-content;
  }
  to {
    opacity: 0;
    max-height: 0;
  }
}
@media screen and (max-width: 768px) {
  :host {
    display: contents;
  }
  .customSelect,
  .customSelectBody {
    width: 100%;
  }
}
