<div class="modalCont">
  <img tabindex="0" src="close.svg" (click)="onClose()" alt="close button" class="closeBtn" />
  <div class="heading">
    <h2>Profile</h2>
    <div class="desc">
      @if (authService.user()?.avatar) {
        <img [src]="authService.user()?.avatar" alt="user avatar" />
      } @else {
        <app-icon-library tabindex="0" name="avatarIcon" [size]="56"></app-icon-library>
      }
      <div class="textDesc">
        <h4>{{ authService.user()?.username }}</h4>
        <p class="profStatus" [class.incomplete]="authService.user()?.profileComplete === false">
          {{ authService.user()?.profileComplete ? 'Profile is Complete' : 'Incomplete Profile' }}
        </p>
      </div>
    </div>
  </div>
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div class="inputContWrapper">
      <div class="inputCont">
        <label for="fullName">Full Name</label>
        <div class="inputWithIconCont">
          <input
            name="fullName"
            id="fullName"
            type="text"
            class="darkerInput"
            placeholder="Enter full name"
            formControlName="fullName"
          />
          @if (profileForm.get('fullName')?.valid) {
            <button type="button" class="inputsIcon" tabindex="-1">
              <app-icon-library [name]="'checkmark'" [size]="22"></app-icon-library>
            </button>
          } @else {
            <button type="button" class="inputsIcon" tabindex="-1">
              <app-icon-library [name]="'edit'" [size]="22"></app-icon-library>
            </button>
          }
        </div>

        @if (profileForm.get('fullName')?.touched) {
          @if (profileForm.get('fullName')?.hasError('required')) {
            <p class="error" animate.enter="showError" animate.leave="hideError">
              Name is required
            </p>
          } @else if (
            profileForm.get('fullName')?.hasError('minlength') ||
            profileForm.get('fullName')?.hasError('minLetters')
          ) {
            <p class="error" animate.enter="showError" animate.leave="hideError">
              Name must be at least 3 characters
            </p>
          } @else if (profileForm.get('fullName')?.hasError('maxlength')) {
            <p class="error" animate.enter="showError" animate.leave="hideError">
              Name must not exceed 50 characters
            </p>
          } @else if (profileForm.get('fullName')?.hasError('pattern')) {
            <p class="error" animate.enter="showError" animate.leave="hideError">
              Name can only contain letters and spaces
            </p>
          }
        }
      </div>
      <div class="inputCont">
        <label for="mail">Email</label>
        <div class="inputWithIconCont">
          <input
            name="mail"
            id="mail"
            type="email"
            class="darkerInput"
            value="{{ authService.user()!.email }}"
            disabled
          />
          <button type="button" class="inputsIcon" tabindex="-1">
            <app-icon-library [name]="'checkmark'" [size]="22"></app-icon-library>
          </button>
        </div>
      </div>
      <div class="inputColumnCont">
        <div class="inputRowCont">
          <div class="inputCont">
            <label [class.applyErrorCont]="applyMobileErrorCont()" for="mobile"
              >Mobile Number</label
            >
            <div class="inputWithIconCont">
              <div class="phonePrefixCont">
                <span class="phonePrefix" [class.applyErrorCont]="applyMobileErrorCont()"
                  >+995</span
                >
                <input
                  name="mobile"
                  id="mobile"
                  type="tel"
                  class="darkerInput"
                  [class.applyErrorCont]="applyMobileErrorCont()"
                  placeholder="Enter mobile number"
                  formControlName="mobile"
                />
              </div>
              @if (profileForm.get('mobile')?.valid) {
                <button type="button" class="inputsIcon" tabindex="-1">
                  <app-icon-library name="checkmark" [size]="22"></app-icon-library>
                </button>
              } @else {
                <button
                  type="button"
                  class="inputsIcon"
                  [class.applyErrorCont]="applyMobileErrorCont()"
                  tabindex="-1"
                >
                  <app-icon-library name="edit" [size]="22"></app-icon-library>
                </button>
              }
            </div>
          </div>
          <div class="inputCont ageInputCont">
            <label [class.applyErrorCont]="applyAgeErrorCont()" for="age">Age</label>
            <div class="inputWithIconCont">
              <input
                name="age"
                id="age"
                type="number"
                [class.applyErrorCont]="applyAgeErrorCont()"
                placeholder="18"
                formControlName="age"
              />
              <button
                type="button"
                class="inputsIcon ageIcon"
                [class.applyErrorCont]="applyAgeErrorCont()"
                [class.rotate]="isDropdownShown()"
                tabindex="-1"
              >
                <app-icon-library
                  name="dropdown"
                  (click)="toggleDropdown()"
                  [size]="22"
                ></app-icon-library>
              </button>
            </div>
            @if (isDropdownShown()) {
              <app-dropdown
                [class.closing]="isClosing()"
                (optionChanged)="onOptionChanged($event)"
                [options]="options"
              ></app-dropdown>
            }
          </div>
        </div>
        <div class="errorCont">
          @if (profileForm.get('mobile')?.touched) {
            @if (profileForm.get('mobile')?.hasError('required')) {
              <p class="error" animate.enter="showError" animate.leave="hideError">
                Mobile number is required
              </p>
            } @else if (profileForm.get('mobile')?.hasError('mobileFormat')) {
              <p class="error" animate.enter="showError" animate.leave="hideError">
                Please enter a valid Georgian mobile number (9 digits starting with 5)
              </p>
            } @else if (profileForm.get('mobile')?.hasError('mobileStartsWith')) {
              <p class="error" animate.enter="showError" animate.leave="hideError">
                Georgian mobile numbers must start with 5
              </p>
            } @else if (profileForm.get('mobile')?.hasError('mobileLength')) {
              <p class="error" animate.enter="showError" animate.leave="hideError">
                Mobile number must be exactly 9 digits
              </p>
            }
          }
          @if (profileForm.get('age')?.touched) {
            @if (profileForm.get('age')?.hasError('required')) {
              <p class="error" animate.enter="showError" animate.leave="hideError">
                Age is required
              </p>
            } @else if (profileForm.get('age')?.hasError('ageNotNumber')) {
              <p class="error" animate.enter="showError" animate.leave="hideError">
                Age must be a number
              </p>
            } @else if (profileForm.get('age')?.hasError('ageTooYoung')) {
              <p class="error" animate.enter="showError" animate.leave="hideError">
                You must be at least 16 years old to enroll
              </p>
            } @else if (profileForm.get('age')?.hasError('ageInvalid')) {
              <p class="error" animate.enter="showError" animate.leave="hideError">
                Please enter a valid age
              </p>
            }
          }
        </div>
      </div>
      <div class="inputCont">
        <app-upload-input
          [initialFile]="selectedFile()"
          (fileSelected)="onFileSelected($event)"
          (fileError)="onFileError($event)"
        ></app-upload-input>
        @if (profileForm.get('avatar')?.hasError('incorrectFormat')) {
          <p class="error">Unsupported file format. Please use JPG, PNG or WebP</p>
        }
        @if (profileForm.get('avatar')?.hasError('tooLarge')) {
          <p class="error">Maximum File size is 1MB</p>
        }
      </div>
    </div>
    @if (generalError()) {
      <h5 class="error generalError" animate.enter="showError" animate.leave="hideError">
        {{ generalError() }}
      </h5>
    }

    <button type="submit" [disabled]="getIsBtnDisabled()" class="buttonS">
      @if (isLoading()) {
        <app-loader></app-loader>
      } @else {
        Update Profile
      }
    </button>
  </form>
</div>
