.modalCont .inputCont:not(:has(.error)) input {
  color: var(--grey-300);
}
.modalCont .inputCont:not(:has(.error)) input:focus,
.modalCont .inputCont:not(:has(.error)) .inputWithIconCont:has(input:focus) .inputsIcon {
  color: var(--grey-700);
}
.inputContWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.modalCont .inputCont:not(:has(.error)) input.darkerInput {
  border-color: var(--grey-300);
  background-color: var(--grey-100);
}
.heading {
  display: flex;
  align-items: start;
  width: 100%;
  flex-direction: column;
  gap: 2.4rem;
  margin-bottom: 2.4rem;
}
.desc {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  width: 100%;
}
.textDesc {
  /* 5.4re is width of avatar + 1.2rem gap */
  max-width: calc(100% - 6.6rem);
}

h2 {
  text-align: center;
  width: 100%;
}
h4 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: var(--grey-950);
}
.profStatus {
  font-size: var(--helper-rxs-fs);
  font-weight: var(--helper-rxs-fw);
  color: var(--success);
}
.profStatus.incomplete {
  color: var(--warning);
}
.phonePrefixCont {
  position: relative;
  display: flex;
  align-items: center;
}

.phonePrefix {
  position: absolute;
  left: 1.3rem;
  color: var(--grey-200);
  font-size: var(--xs-fs);
  pointer-events: none;
  user-select: none;
  margin-right: 4px;
}

.phonePrefixCont input {
  padding-left: 5rem;
}
.modalCont .inputCont:not(:has(.error)) .phonePrefixCont input:hover,
.modalCont .inputCont:not(:has(.error)) .inputWithIconCont input:hover {
  border-color: var(--grey-300);
  caret-color: var(--grey-200);
  color: var(--grey-200);
}
.modalCont .inputCont:not(:has(.error)) .inputWithIconCont .darkerInput:hover {
  border-color: var(--grey-500);
}

.modalCont .inputCont:not(:has(.error)) .phonePrefixCont input:focus,
.modalCont .inputCont:not(:has(.error)) .inputWithIconCont input:focus {
  border-color: var(--grey-400);
  caret-color: var(--grey-400);
  color: var(--grey-700);
}
