<header>
  <div class="headerCont">
    <a routerLink="/dashboard" class="logo">
      <img src="Logo.svg" alt="brand logo" />
    </a>
    <nav>
      <div class="courseCont">
        <a routerLink="/courses" class="courses">
          <div class="imgCont">
            <app-icon-library name="courseIcon" [size]="26"></app-icon-library>
          </div>
          <p>Browse Courses</p>
        </a>
        @if (authService.isAuthenticated()) {
          <button (click)="modalService.openSidePanel()" class="courses">
            <div class="imgCont">
              <app-icon-library name="browseIcon" [size]="26"></app-icon-library>
            </div>
            <p>Enrolled Courses</p>
          </button>
        }
      </div>

      <div class="auth">
        @if (!authService.isAuthenticated()) {
          <button class="ctaBtnOutline" (click)="modalService.openLogIn()">Log In</button>
          <button class="primaryBtn" (click)="modalService.openSignUp()">Sign Up</button>
        } @else if (authService.user()?.avatar) {
          <div class="imgCont">
            <img
              [src]="authService.user()?.avatar"
              alt="user avatar"
              (click)="modalService.openProfile()"
              class="avatarIcon"
            />
            <div
              class="circleIndicator"
              [class.incompleteCircleIndicator]="!authService.user()?.profileComplete"
            ></div>
          </div>
        } @else {
          <app-icon-library
            tabindex="0"
            name="avatarIcon"
            class="avatarIcon"
            [circleColor]="authService.user()?.profileComplete ? '#1dc31d' : '#F4A316'"
            [size]="56"
            (click)="modalService.openProfile()"
          ></app-icon-library>
        }
      </div>
    </nav>
  </div>
</header>

@if (modalService.isSignUpOpen()) {
  <div
    class="backdrop"
    animate.enter="fade-in"
    animate.leave="fade-out"
    (click)="modalService.closeAll()"
  >
    <div (click)="$event.stopPropagation()">
      <app-sign-up></app-sign-up>
    </div>
  </div>
}
@if (modalService.isLogInOpen()) {
  <div
    class="backdrop"
    animate.enter="fade-in"
    animate.leave="fade-out"
    (click)="modalService.closeAll()"
  >
    <div (click)="$event.stopPropagation()">
      <app-log-in></app-log-in>
    </div>
  </div>
}
@if (modalService.isProfileOpen()) {
  <div
    class="backdrop"
    animate.enter="fade-in"
    animate.leave="fade-out"
    (click)="modalService.closeProfile()"
  >
    <div (click)="$event.stopPropagation()">
      <app-profile></app-profile>
    </div>
  </div>
}
<div
  class="panel-backdrop"
  [class.show]="modalService.isPanelRendered()"
  (click)="modalService.closeSidePanel()"
>
  <div
    class="panel-container"
    [class.open]="modalService.isPanelRendered()"
    (click)="$event.stopPropagation()"
  >
    @if (modalService.isPanelRendered()) {
      <app-side-panel></app-side-panel>
    }
  </div>
</div>
