header {
  padding: 2.4rem 17.7rem;
  border-bottom: 1px solid var(--grey-200);
  box-shadow: rgba(0, 0, 0, 0.04);
  height: var(--fixed-header-height);
  position: sticky;
  top: 0;
  z-index: 100;
  background: var(--grey-100);
}
.headerCont {
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo:hover,
.logo:focus-visible {
  transform: scale(1.05);
  transition: 0.4s;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.6rem;
  height: 5.6rem;
}
.courseCont {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.imgCont {
  display: flex;
}
.courses {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: var(--l-fs);
  color: var(--grey-600);
  padding: 1.5rem;
  border-radius: 8px;
  transition: 0.4s;
  border: 2px solid transparent;
  height: 100%;
  cursor: pointer;
  outline: none;
  background: none;
}

.courses:hover,
.courses:focus-visible {
  color: var(--brand-500);
}

nav .auth {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.ctaBtnOutline {
  width: 11.4rem;
  height: 6rem;
  font-size: var(--btn-m);
}

.avatarIcon {
  cursor: pointer;
  transition: 0.4s;
  color: var(--brand-400);
  outline: none;
  border-radius: 50%;
  width: 5.6rem;
  height: 5.6rem;
}
.avatarIcon:hover,
.avatarIcon:focus-visible {
  color: var(--brand-600);
}
.avatarIcon:active {
  color: var(--brand-700);
}
.backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 100;
}
.imgCont {
  position: relative;
}
.primaryBtn {
  height: 6rem;
}
.panel-backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.4s ease;
  pointer-events: none;
  z-index: 100;
}

.panel-backdrop.show {
  background-color: rgba(0, 0, 0, 0.25);
  pointer-events: auto;
}

.panel-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 79.4rem;
  min-height: 100vh;
  height: 100%;
  background-color: var(--grey-100);
  padding: 6rem 7.4rem;
  transform: translateX(100%);
  transition: 0.4s ease;
  display: flex;
  opacity: 0;
}

.panel-container.open {
  transform: translateX(0);
  opacity: 1;
}
