<header>
  <div class="headerCont">
    <a routerLink="/dashboard" class="logo">
      <img src="Logo.svg" alt="brand logo" />
    </a>
    <nav>
      <div class="courseCont">
        <a routerLink="courses" class="courses">
          <div class="imgCont">
            <app-icon-library name="courseIcon" [size]="26"></app-icon-library>
          </div>
          <p>Browse Courses</p></a
        >
        @if (authService.isAuthenticated()) {
          <a routerLink="courses" class="courses">
            <div class="imgCont">
              <app-icon-library name="browseIcon" [size]="26"></app-icon-library>
            </div>
            <p>Enrolled Courses</p></a
          >
        }
      </div>

      <div class="auth">
        @if (!authService.isAuthenticated()) {
          <button class="logInBtn" (click)="toggleLogInModal()">Log In</button>
          <button class="primaryBtn" (click)="toggleModal()">Sign Up</button>
        } @else if (authService.user()?.avatar) {
          <div class="imgCont">
            <img
              [src]="authService.user()?.avatar"
              alt="user avatar"
              (click)="toggleProfileModal()"
              class="avatarIcon"
            />
            <div
              class="circleIndicator"
              [class.incompleteCircleIndicator]="!authService.user()?.profileComplete"
            ></div>
          </div>
        } @else {
          <app-icon-library
            tabindex="0"
            name="avatarIcon"
            class="avatarIcon"
            [circleColor]="authService.user()?.profileComplete ? '#1dc31d' : '#F4A316'"
            [size]="56"
            (click)="toggleProfileModal()"
          ></app-icon-library>
        }
      </div>
    </nav>
  </div>
</header>
@if (isModalRendered()) {
  <div class="backdrop" animate.enter="fade-in" animate.leave="fade-out" (click)="toggleModal()">
    <div (click)="$event.stopPropagation()">
      <app-sign-up
        (closeModal)="toggleModal()"
        (closeModalLogIn)="toggleLogInModal()"
      ></app-sign-up>
    </div>
  </div>
}
@if (isLogInModalRendered()) {
  <div
    class="backdrop"
    animate.enter="fade-in"
    animate.leave="fade-out"
    (click)="toggleLogInModal()"
  >
    <div (click)="$event.stopPropagation()">
      <app-log-in (closeModal)="toggleLogInModal()" (closeModalSignUp)="toggleModal()"></app-log-in>
    </div>
  </div>
}
@if (isProfileModalRendered()) {
  <div
    class="backdrop"
    animate.enter="fade-in"
    animate.leave="fade-out"
    (click)="toggleProfileModal()"
  >
    <div (click)="$event.stopPropagation()">
      <app-profile (closeModal)="toggleProfileModal()"></app-profile>
    </div>
  </div>
}
