.authModal form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: center;
}
.authModal .heading {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  align-items: center;
}
.authModal h2 {
  color: var(--grey-900);
}
.authModal .heading p {
  color: var(--grey-500);
  font-size: var(--xs-fs);
  margin-bottom: 0.8rem;
}

.authModal footer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 32rem;
  position: relative;
}
.authModal .divider {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: var(--xs-fs);
  color: var(--grey-400);
  height: 2.1rem;
}

.authModal .divider::before,
.authModal .divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid var(--grey-200);
}

.authModal .divider:not(:empty)::before {
  margin-right: 0.7rem;
}

.authModal .divider:not(:empty)::after {
  margin-left: 0.7rem;
}
.authModal .logInCont {
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.authModal .logInCont p {
  font-size: var(--helper-rs-fs);
  color: var(--grey-500);
}
.authModal .logInCont span {
  font-size: var(--xs-fs);
  color: var(--grey-900);
  text-decoration-line: underline;
  text-underline-offset: 0.4rem;
  transition: 0.4s;
  cursor: pointer;
  outline: none;
}
.authModal .logInCont span:hover,
.authModal .logInCont span:focus-visible {
  color: var(--brand-500);
}
.authModal .logInCont span:active {
  color: var(--brand-600);
}

.authModal .margin-bot {
  margin-bottom: 0.8rem;
}
