<div class="coursesPage">
  <aside class="sidebar">
    <div class="filterSection">
      <h3>Categories</h3>
      <div class="filterItems">
        @for (category of categories(); track category.id) {
          <button
            class="filterItem"
            [class.selected]="selectedCategories().includes(category.id)"
            (click)="toggleCategory(category.id)"
            [disabled]="isLoadingCourses()"
          >
            <input
              type="checkbox"
              [checked]="selectedCategories().includes(category.id)"
              tabindex="-1"
            />
            {{ category.name }}
          </button>
        }
      </div>
    </div>
    <div class="filterSection">
      <h3>Topics</h3>
      <div class="filterItems">
        @for (topic of topics(); track topic.id) {
          <button
            class="filterItem"
            [class.selected]="selectedTopics().includes(topic.id)"
            (click)="toggleTopic(topic.id)"
            [disabled]="isLoadingCourses()"
          >
            <input type="checkbox" [checked]="selectedTopics().includes(topic.id)" tabindex="-1" />
            {{ topic.name }}
          </button>
        }
      </div>
    </div>
    <div class="filterSection">
      <h3>Instructors</h3>
      <div class="filterItems">
        @for (instructor of relevantInstructors(); track instructor.id) {
          <button
            class="filterItem"
            [class.selected]="selectedInstructors().includes(instructor.id)"
            (click)="toggleInstructor(instructor.id)"
            [disabled]="isLoadingCourses()"
          >
            <input
              type="checkbox"
              [checked]="selectedInstructors().includes(instructor.id)"
              tabindex="-1"
            />
            {{ instructor.name }}
          </button>
        }
      </div>
    </div>
    <button
      (click)="clearAllFilters()"
      [disabled]="
        selectedCategories().length === 0 &&
        selectedTopics().length === 0 &&
        selectedInstructors().length === 0
      "
    >
      Clear All Filters
    </button>
  </aside>

  <div class="coursesContent">
    @if (isLoadingCourses()) {
      <app-loader></app-loader>
    } @else {
      @if (courses().length === 0) {
        <p>No courses found</p>
      }
      <div class="coursesList">
        @for (course of courses(); track course.id) {
          <p>{{ course.title }}</p>
        }
      </div>

      <app-pagination
        [currentPage]="currentPage()"
        [lastPage]="lastPage()"
        [isLoading]="isLoadingCourses()"
        (pageChange)="goToPage($event)"
      ></app-pagination>
    }
  </div>
</div>
