.cont {
  width: 47.6rem;
  background-color: var(--grey-50);
  border-radius: 1.6rem;
  padding: 6rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: calc(100vh - 4.8rem);
  overflow-y: auto;
}
.contentCont {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-items: center;
  color: var(--grey-700);
  text-align: center;
}

.contentCont p {
  font-size: var(--l-fs);
}
.highlight {
  font-size: var(--btn-m);
  font-weight: var(--xl-fw);
}
.primaryBtn {
  text-align: center;
}
.btnCont {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  height: 5.8rem;
  min-height: 5.8rem;
}
.btnCont button {
  width: 100%;
  height: 100%;
  padding: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--btn-s);
}
.rater {
  color: var(--brand-400);
}
