<div class="cont">
  <div class="contentCont">
    <img [src]="data().icon" [alt]="data().type" />
    <h2>{{ data().title }}</h2>
    @if (data().type === 'warning') {
      @if (data().conflictedCourses?.length) {
        <p>You are already enrolled in:</p>

        @for (course of data().conflictedCourses; track course) {
          <span class="highlight">"{{ course }}"</span>
        }

        <p>with schedule: {{ data().schedule }}</p>
      }
    }
    @if (data().type === 'enrolled') {
      <p>
        You've successfully enrolled to the
        <span class="highlight">"{{ data().courseTitle }}"</span> Course!
      </p>
    }
    @if (data().type === 'profileIncomplete') {
      <p>You need to complete your profile before enrolling in this course.</p>
    }
  </div>
  <div class="btnCont">
    @if (data().type === 'warning' || data().type === 'profileIncomplete') {
      @if (data().type === 'warning') {
        <button class="ctaBtnOutline" (click)="onContinue()">Continue Anyway</button>
      } @else {
        <button class="ctaBtnOutline" (click)="showProfile()">Complete Profile</button>
      }

      <button class="primaryBtn" (click)="onCancel()">Cancel</button>
    } @else {
      <button class="primaryBtn" (click)="onCancel()">Done</button>
    }
  </div>
</div>
